:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --white-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-tetx-color: #000000;
}


body {
    
    color: var(--primary-text-color);
    background-color: #FFFFFF;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    }

    /* Утіліти */
    
    .list {
    padding: 0;
    margin: 0;
    list-style: none;  
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        padding-right: 15px;
        padding-left: 15px;

    }

   /* Page header */
   
   .page-header {
    height: 80px;
   }

       
    /* Logo */

    .logo {
    color: var(--logo-tetx-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    }

    .logo:hover,
    .logo:focus {
        color: var(--accent-color);
    }

   .accent {
    color: var(--accent-color);
    }

    
    /* Main-nav */
   .main-nav {
    display: flex;
    align-items: center;
    }

    .main-nav .logo {
        padding-top: 24px;
    padding-bottom: 25px;
    }


    /* Site nav */

    .site-nav {
    display: flex;
    margin-left: 93px;
    }

    .site-nav .item +.item,
    .auth-nav .item +.item {
    margin-left: 50px;
    } 

/*  .site-nav  .item:not(:last-child),
    .auth-nav .item:not(:last-child) {
        margin-right: 50px;
    } */


    .site-nav .link,
    .auth-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
        
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    }

    .site-nav .link{
    color: var(--title-text-color);        
    }

    .site-nav .link:hover,
    .auth-nav .link:hover,
    .site-nav .link:focus,
    .auth-nav .link:focus {
    color: var(--accent-color);
    }

   .site-nav .link.current {
    color: var(--accent-color);
   }

   /* Auth-nav */
   .auth-nav {
    display: flex;
    margin-left: auto;
   }
   
   .auth-nav .link {
    color: var(--primary-text-color);
    }

     /* Hero */

    .hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: #2F303A;
    }

    .hero-title {
    margin: auto;
    margin-bottom: 30px;
    width: 696px;

    color: var(--white-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    }

    .hero-btn {
    display: inline-block;
   
    padding: 10px 32px;
    min-width: 216px;
    text-align: center;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    color: var(--white-color);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    text-decoration: none;
    cursor: pointer;
    }

    .hero-btn:hover,
    .hero-btn:focus,
    .hero-btn:active {
        background: #188CE8;
    }


    
    

    /* Section */

    .section {
    padding-top: 94px;
    padding-bottom: 94px;
    }

    .section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
    }

    .section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color); 

    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;

   
    }

    /* Feature list */



    .feature-list {
    display: flex;
   
    
    }

    .feature-item {
    width: 270px;
    margin-right: 30px;
    align-items: center;
    }

    .feature-item:nth-child(4n) {
        margin-right: 0;
    }

    .feature-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    }

    .feature-text {
     margin-top: 0;
     margin-bottom: 0;
    }

   /* Work-list */

   .work {
    padding-top: 0;
   }


   .work-list {
    display: flex;
    align-items: center;
 
    }

  .work-item {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .work-item:nth-child(3n) {
    margin-right: 0;
  }



    /* Team */

    .team {

        background-color: #F5F4FA;

        
    }

   .team-list {
        display: flex;                 

    }

    .team-img {
        display: block;
        margin-bottom: 0;
    }

    .team-card {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        margin-top: 0;
        
     
        
        background-color: var(--white-color);
             
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;  

    }

    .team-item {
        margin-right: 30px;
        margin-top: 0; 
    }

    .team-item:nth-child(4n) {
        margin-right: 0;    
    }



    .team-title {
    margin-top: 0; 
    margin-bottom: 10; 
    
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18; 
    }

    .team-profession {
    margin-top: 0;
    margin-bottom: 0;
  

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    }



    /* Portfolio */

    /* Filters */

   

    .filters-list {
     display: flex;
    justify-content: center;
    }

        
    .filter-item + .filter-item {
    margin-left: 8px;
    }

    .filter-btn {
    padding: 6px 22px;
    min-width:73px;
    border-radius: 4px;
    border: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;



    margin-top: 0;
    margin-bottom: 50px;
     
    color: var(--title-text-color);
    background-color: #F5F4FA;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    }


    .filter-btn:hover,
    .filter-btn:focus {
    color: var(--white-color);
    background-color:  var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
     }
    
    

    /* Progects */

    .progects-list {
    display: flex;
    flex-wrap: wrap;}

    .progect-img {
        display: block;
        margin-bottom: 0;

    }
  
    .card-title {
        padding: 20px 24px;
        border: 1px solid #EEEEEE;
    }

    .progects-items {
     width: 370px;
    margin-right: 30px;
     margin-bottom: 30px;
     

    }

    .progects-items:nth-child(3n) {
    margin-right: 0;
    }

    .progects-items:nth-last-child(-n + 3) {
    margin-bottom: 0;
    }


    .title-progect {
    margin-top: 0;
     margin-bottom: 4px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    }
    
    .title-text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
    }
    
    a {
   

    text-decoration: none;
    }

    /* Футер */

    .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    color: var(--white-color);
    background: #2F303A;
    text-decoration: none;
    }

    .logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    }

    .logo-footer:hover,
    .logo-footer:focus {
    color: var(--accent-color);
    }

    .adress {
    font-style: normal;
    }

    .adress {
    display: block;
    margin-top: 20px;
    }

    .mail-items{

    margin-bottom: 9px;
    }   

    .mail-items:last-child {
    margin-bottom: 0;
    }


    .adress-map {

    color: var(--hero-text-color);
    text-decoration: none;
    }

    .adress-map:hover,
    .adress-map:focus {
    color: var(--accent-color);
    }

    .mail {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    }
    
    .mail:hover,
    .mail:focus  {
        color: var(--accent-color);
    }







    





    


